.container-fluid {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
}

article {
    margin-bottom: 30px;
}

aside {

}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

.col {

}

.stone-1 {
    display: block;
    height: 1rem;
}
.stone-2 {
    display: block;
    height: 2rem;
}
.stone-3 {
    display: block;
    height: 3rem;
}
.stone-4 {
    display: block;
    height: 4rem;
}
.stone-5 {
    display: block;
    height: 5rem;
}