//NotoSansKr - SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
@font-face {
    font-family: 'NotoSansKr';
    src: url('../fonts/NotoSansKR/NotoSansKR-Thin.otf');
    font-weight: $fontWeight-thin;
}
@font-face {
    font-family: 'NotoSansKr';
    src: url('../fonts/NotoSansKR/NotoSansKR-Light.otf');
    font-weight: $fontWeight-light;
}
@font-face {
    font-family: 'NotoSansKr';
    src: url('../fonts/NotoSansKR/NotoSansKR-Regular.otf');
    font-weight: $fontWeight-regular;
}
@font-face {
    font-family: 'NotoSansKr';
    src: url('../fonts/NotoSansKR/NotoSansKR-Medium.otf');
    font-weight: $fontWeight-medium;
}
@font-face {
    font-family: 'NotoSansKr';
    src: url('../fonts/NotoSansKR/NotoSansKR-Bold.otf');
    font-weight: $fontWeight-bold;
}
@font-face {
    font-family: 'NotoSansKr';
    src: url('../fonts/NotoSansKR/NotoSansKR-Black.otf');
    font-weight: $fontWeight-black;
}