<!DOCTYPE html>
<html lang="ko">
<head>
    <noscript>현재 사용 중인 브라우저는 스크립트를 지원하지 않거나, 해당 기능이 활성화되어 있지 않습니다!</noscript>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸쉬뉴스</title>
    <link rel="stylesheet" href="../Content/css/styles.css" />
</head>
<body>
    <header id="header">
        헤더
        <nav role="navigation"></nav>
    </header>
    <main id="main">
        메인
    </main>
    <footer id="footer">푸터</footer>

    <script src="../Asset/lib/jquery/jquery-1.12.4.min.js"></script>
    <script>

        $(document).ready(function(){

        }); //document.ready

    </script>
</body>
</html>